body {
    text-align: center;
    background-color: #ed1b76 ;
}

.btn {
    height: 200px;
    width: 200px;
    border-radius: 20%;
    border: 10px solid black;
    margin: 10px;
}

.btn-container {
    display: flex;
    justify-content: center;
}

.yellow {
    background-color: #f99b45;
}

.red {
    background-color: #bc053c;
}

.blue {
    background-color: #0a9bc7;
}

.purple {
    background-color: #0436cc;
}

.gameflash {
    background-color: white;
}

.userflash {
    background-color: green;
}